	
#datafetch{
	min-height: 200px;
}
.filter-flat{
	
	
}
.filter-block{
	border: 1px solid;
	width: 300px;
	
}


.filters{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 500px;
	borde
	
}
.result{
	width: 100%;
	border: 3px solid;
}